.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    padding: 20px;
}

.pri-text {
    font-size: 30px;
    margin-bottom: 40px;
}

.sec-text {
    font-size: 17px;
}

.return-button {
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

.return-button:hover {
    background-color: #43a047;
    transform: scale(1.05);
}

