* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #000000;
  margin: 0;
  padding: 0;
}

.container {
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator{
  background-color: #87CEEB;
  padding: 1em;
  border-radius: 0.5em;
}

#display {
  background-color: #FFFFFF;
  padding: 1em;
  height: 1.5em;
  margin: 0.5rem;
  border-radius: 0.2rem;
  text-align: right;
}

.calculatorButtons{
  width: 4rem;
  height: 3rem;
  margin: 0.3rem;
  border-radius: 0.2rem;
  background-color: #E0FFFF;
  text-align: center;
  border: none;
}

#cleanDisplay, #deleteDigit, #division, #multiplication, #subtraction, #sum, #result{
  background-color: #708090;
  color: #FFFFFF;
}

#result{
  height: 6.8rem;
}

#num0{
  width: 8.7rem;
}